<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quyennv.lms.mappers.LessonMapper">
  <resultMap id="BaseResultMap" type="com.quyennv.lms.entities.Lesson">
    <id column="id" jdbcType="OTHER" property="id" javaType="UUID" typeHandler="com.quyennv.lms.config.typehandlers.UUIDTypeHandler"/>
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="resource_id" jdbcType="OTHER" property="resourceId" />
    <result column="section_id" jdbcType="OTHER" property="sectionId" />
    <result column="assignment_id" jdbcType="OTHER" property="assignmentId" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl"/>
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, description, type, resource_id, section_id, video_url, updated_at, created_at,
    deleted_at, assignment_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="UUID" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from public.lesson
    where id = #{id,jdbcType=OTHER}
  </select>
  <select id="selectBySectionId" parameterType="UUID" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from public.lesson
    where section_id = #{sectionId,jdbcType=OTHER} and deleted_at is null
  </select>
  <delete id="softDeleteByPrimaryKey" parameterType="UUID">
    update public.lesson set deleted_at = now()
    where id = #{id,jdbcType=OTHER}
  </delete>
  <insert id="insert" parameterType="com.quyennv.lms.entities.Lesson">
    insert into public.lesson (id, name, description, 
      type, resource_id, section_id, video_url,
      updated_at, created_at, deleted_at,assignment_id
      )
    values (#{id,jdbcType=OTHER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{resourceId,jdbcType=OTHER},  #{sectionId,jdbcType=OTHER}, #{videoUrl,jdbcType=VARCHAR},
      #{updatedAt,jdbcType=TIMESTAMP}, #{createdAt,jdbcType=TIMESTAMP}, #{deletedAt,jdbcType=TIMESTAMP}, #{assignmentId,jdbcType=OTHER}
      )
  </insert>
  <insert id="insertBatch" parameterType="list">
    insert into public.lesson (id, name, description, video_url,
      type, resource_id, section_id, assignment_id
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=OTHER}, #{item.name,jdbcType=VARCHAR}, #{item.description,jdbcType=VARCHAR}, #{videoUrl,jdbcType=VARCHAR},
      #{item.type,jdbcType=VARCHAR}, #{item.resourceId,jdbcType=OTHER}, #{item.sectionId,jdbcType=OTHER}, #{item.assignmentId,jdbcType=OTHER}
      )
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.quyennv.lms.entities.Lesson">
    insert into public.lesson
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="resourceId != null">
        resource_id,
      </if>
      <if test="sectionId != null">
        section_id,
      </if>
      <if test="videoUrl != null">
        video_url,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="deletedAt != null">
        deleted_at,
      </if>
        <if test="assignmentId != null">
            assignment_id,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=OTHER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="resourceId != null">
        #{resourceId,jdbcType=OTHER},
      </if>
      <if test="sectionId != null">
        #{sectionId,jdbcType=OTHER},
      </if>
      <if test="videoUrl != null">
        #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        #{deletedAt,jdbcType=TIMESTAMP},
      </if>
        <if test="assignmentId != null">
            #{assignmentId,jdbcType=OTHER},
        </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.quyennv.lms.entities.Lesson">
    update public.lesson
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="resourceId != null">
        resource_id = #{resourceId,jdbcType=OTHER},
      </if>
      <if test="sectionId != null">
        section_id = #{sectionId,jdbcType=OTHER},
      </if>
      <if test="videoUrl != null">
        video_url = #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      </if>
        <if test="assignmentId != null">
            assignment_id = #{assignmentId,jdbcType=OTHER},
        </if>
    </set>
    where id = #{id,jdbcType=OTHER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.quyennv.lms.entities.Lesson">
    update public.lesson
    set name          = #{name,jdbcType=VARCHAR},
        description   = #{description,jdbcType=VARCHAR},
        type          = #{type,jdbcType=VARCHAR},
        resource_id   = #{resourceId,jdbcType=OTHER},
        section_id    = #{sectionId,jdbcType=OTHER},
        video_url     = #{videoUrl,jdbcType=VARCHAR},
        updated_at    = #{updatedAt,jdbcType=TIMESTAMP},
        created_at    = #{createdAt,jdbcType=TIMESTAMP},
        deleted_at    = #{deletedAt,jdbcType=TIMESTAMP},
        assignment_id = #{assignmentId,jdbcType=OTHER}
    where id = #{id,jdbcType=OTHER}
  </update>
</mapper>